<footer class="vk-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-item about">
                    <h4 class="vk-heading text-uppercase"><span class="vk-text-color-yellow-1">A propos</span> De Nous</h4>
                    <p class="vk-text">
                        {{ site.description }}
                    </p>
                    <ul class="vk-list vk-social-link">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>

                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
                <!--./about-->


                <div class="col-md-4 footer-item quick-link">
                    <h4 class="vk-heading text-uppercase">Liens rapides</h4>
                    <ul class="vk-list vk-quick-link text-capitalize">
                        <li><a href="/a_propos">A propos</a></li>

                        <li><a href="/">Accueil</a></li>

                        <li><a href="/products">Produits</a></li>

                        <li><a href="/contact">Contact</a></li>

                        <li><a href="/blog">Blog</a></li>

                        <li><a href="/service_client">Service client</a></li>
                    </ul>
                </div>
                <!--./quick-link-->


                <div class="col-md-4 footer-item office">
                    <h4 class="vk-heading text-uppercase">Sieges</h4>
                    <ul class="vk-list vk-office">
                        <li><i class="fa fa-map"></i>13, Avenue Faidherbe, Dakar Sénégal</li>

                        <li><i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>

                        <li><i class="fa fa-phone"></i>(221) 77 649 57 87</li>

                    </ul>

                    <ul class="vk-list vk-office">
                        <li><i class="fa fa-map"></i>19, Avenue Moderne 75 019 Paris France</li>

                        <li><i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>

                        <li><i class="fa fa-phone"></i>(33) 06 76 55 44 32</li>

                    </ul>

                </div>
                <!--./office-->

            </div>
            <!--./row-->

        </div>
        <!--./container-->
        <div class="footer-bot">
            <div class="container">
                <p class="vk-text">
                    Design by <a class="vk-text-color-yellow-1" href="http://www.revovision.ca">REVOVISION</a> With <span class="vk-text-color-yellow-1">Love</span>.
                </p>

                <p class="vk-text">
                    All Rights Reserved.
                </p>
            </div>
        </div>
        <!--./footer-bot-->
    </footer>
    <!--./vk-footer-->  </div>
<!--./main-wrapper-->

<!-- BEGIN: SCRIPT -->
<script src="./plugin/jquery/jquery-2.0.2.min.js"></script>
<script src="./plugin/plugin.min.js"></script>
<script src="./plugin/main.js"></script>
<script src="./plugin/custom.js"></script>
<!-- END: SCRIPT -->