

<!doctype html>
<html lang="en">
{% include head.html %}


<body>
<div class="animsition main-wrapper">
  {% include header.html %}
    
    <!--./vk-header-->

    <section class="vk-content">
        <div class="vk-banner vk-banner-homepage vk-banner-large vk-background-fixed">
            <div class="vk-background-overlay vk-background-black-1 _50"></div>
            <div class="vk-background-image">
                <img src="images/image_1.jpg" alt="">
            </div>
            <div class="content">
                <div class="container wrapper">
                    <div class="page-heading">
                        <span class="vk-text title-main">CHEZ SENEXPORT SENEGAL FRANCE</span><span class="vk-text title-sub">NOUS AVONS CE QUE VOUS RECHERCHEZ</span>
                    </div>
                </div>
            </div>
            <!--./content-->
        </div>
        <!--./vk-banner-->
        <div class="vk-home vk-home-shop">
            <div class="container">
                <div class="vk-space x-medium"></div>

                <h2 class="vk-heading vk-heading-border vk-heading-border-left">
                    <span>
                        <span class="vk-text-color-yellow-1">Nos derniers </span>    
                        produits
                    </span>
                </h2>
                <div class="row">
                    <div class="vk-shop-item vk-shop-item-light-s1 clearfix">
                        <ul class="vk-list vk-list-inline clearfix ">
                            <li class=" col-md-6 col-sm-12 col-xs-12 img-shop">
                                <a href="http://localhost/wicon/8.2-single-product.html">
                                    <img src="images/shop/product/shop-product-1.jpg" alt="" class="vk-fullwidth"> </a>
                            </li>
                            <li class=" col-md-3 col-sm-6 col-xs-12">
                                <div class="item">
                                    <div class="vk-img-frame">
                                        <a href="/produit" class="vk-img">
                                            <img src="images/shop/product/shop-product-4.jpg" alt="Alternate Text"/></a>
                                        <div class="vk-background-overlay vk-background-overlay_50">
                                            <a href="8.2-single-product.html"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <h4 class="vk-heading vk-text-capitalize">
                                        <a href="26.shop-single-product-full.html">Nom du produit</a></h4>
                                    <div class="vk-divider"></div>
                                    <div class="vk-price-rate clearfix">
                                        <div class="price vk-cc-font-bold">100000FCFA</div>
                                    </div>
                                    <div class="vk-buttons clearfix">
                                        <button type="button" class="vk-btn  vk-btn-heart">
                                            <i class="fa fa-heart" aria-hidden="true"></i></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-share-alt" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-random" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  text-uppercase vk-btn-addtocart">J'achète</button>
                                    </div>
                                </div>
                            </li>
                             <li class=" col-md-3 col-sm-6 col-xs-12">
                                <div class="item">
                                    <div class="vk-img-frame">
                                        <a href="/produit" class="vk-img">
                                            <img src="images/shop/product/shop-product-4.jpg" alt="Alternate Text"/></a>
                                        <div class="vk-background-overlay vk-background-overlay_50">
                                            <a href="8.2-single-product.html"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <h4 class="vk-heading vk-text-capitalize">
                                        <a href="26.shop-single-product-full.html">Nom du produit</a></h4>
                                    <div class="vk-divider"></div>
                                    <div class="vk-price-rate clearfix">
                                        <div class="price vk-cc-font-bold">100000FCFA</div>
                                    </div>
                                    <div class="vk-buttons clearfix">
                                        <button type="button" class="vk-btn  vk-btn-heart">
                                            <i class="fa fa-heart" aria-hidden="true"></i></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-share-alt" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-random" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  text-uppercase vk-btn-addtocart">J'achète</button>
                                    </div>
                                </div>
                            </li>
                             <li class=" col-md-3 col-sm-6 col-xs-12">
                                <div class="item">
                                    <div class="vk-img-frame">
                                        <a href="/produit" class="vk-img">
                                            <img src="images/shop/product/shop-product-4.jpg" alt="Alternate Text"/></a>
                                        <div class="vk-background-overlay vk-background-overlay_50">
                                            <a href="8.2-single-product.html"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <h4 class="vk-heading vk-text-capitalize">
                                        <a href="26.shop-single-product-full.html">Nom du produit</a></h4>
                                    <div class="vk-divider"></div>
                                    <div class="vk-price-rate clearfix">
                                        <div class="price vk-cc-font-bold">100000FCFA</div>
                                    </div>
                                    <div class="vk-buttons clearfix">
                                        <button type="button" class="vk-btn  vk-btn-heart">
                                            <i class="fa fa-heart" aria-hidden="true"></i></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-share-alt" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-random" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  text-uppercase vk-btn-addtocart">J'achète</button>
                                    </div>
                                </div>
                            </li>
                             <li class=" col-md-3 col-sm-6 col-xs-12">
                                <div class="item">
                                    <div class="vk-img-frame">
                                        <a href="/produit" class="vk-img">
                                            <img src="images/shop/product/shop-product-4.jpg" alt="Alternate Text"/></a>
                                        <div class="vk-background-overlay vk-background-overlay_50">
                                            <a href="8.2-single-product.html"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <h4 class="vk-heading vk-text-capitalize">
                                        <a href="26.shop-single-product-full.html">Nom du produit</a></h4>
                                    <div class="vk-divider"></div>
                                    <div class="vk-price-rate clearfix">
                                        <div class="price vk-cc-font-bold">100000FCFA</div>
                                    </div>
                                    <div class="vk-buttons clearfix">
                                        <button type="button" class="vk-btn  vk-btn-heart">
                                            <i class="fa fa-heart" aria-hidden="true"></i></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-share-alt" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-random" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  text-uppercase vk-btn-addtocart">J'achète</button>
                                    </div>
                                </div>
                            </li>
                             <li class=" col-md-3 col-sm-6 col-xs-12">
                                <div class="item">
                                    <div class="vk-img-frame">
                                        <a href="/produit" class="vk-img">
                                            <img src="images/shop/product/shop-product-4.jpg" alt="Alternate Text"/></a>
                                        <div class="vk-background-overlay vk-background-overlay_50">
                                            <a href="8.2-single-product.html"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <h4 class="vk-heading vk-text-capitalize">
                                        <a href="26.shop-single-product-full.html">Nom du produit</a></h4>
                                    <div class="vk-divider"></div>
                                    <div class="vk-price-rate clearfix">
                                        <div class="price vk-cc-font-bold">100000FCFA</div>
                                    </div>
                                    <div class="vk-buttons clearfix">
                                        <button type="button" class="vk-btn  vk-btn-heart">
                                            <i class="fa fa-heart" aria-hidden="true"></i></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-share-alt" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-random" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  text-uppercase vk-btn-addtocart">J'achète</button>
                                    </div>
                                </div>
                            </li>
                             <li class=" col-md-3 col-sm-6 col-xs-12">
                                <div class="item">
                                    <div class="vk-img-frame">
                                        <a href="/produit" class="vk-img">
                                            <img src="images/shop/product/shop-product-4.jpg" alt="Alternate Text"/></a>
                                        <div class="vk-background-overlay vk-background-overlay_50">
                                            <a href="8.2-single-product.html"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <h4 class="vk-heading vk-text-capitalize">
                                        <a href="26.shop-single-product-full.html">Nom du produit</a></h4>
                                    <div class="vk-divider"></div>
                                    <div class="vk-price-rate clearfix">
                                        <div class="price vk-cc-font-bold">100000FCFA</div>
                                    </div>
                                    <div class="vk-buttons clearfix">
                                        <button type="button" class="vk-btn  vk-btn-heart">
                                            <i class="fa fa-heart" aria-hidden="true"></i></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-share-alt" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-random" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  text-uppercase vk-btn-addtocart">J'achète</button>
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>

                <div class="vk-space small"></div>
            </div>
            <div class="vk-buynow-section vk-background-image-17 vk-section-style-8">
                <div class="vk-background-overlay vk-background-black-1 _50"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="box-content">
                                <div class="content">
                                    <h1 class="vk-heading-main text-uppercase">Promotion</h1>
                                    <p class="vk-title-main text-capitalize">Livraison gratuite à partir de</p>
                                    <p class="vk-price-main vk-text-color-yellow-1">150000FCFA</p>
                                </div>
                                <div class="vk-buttons">
                                    <a href="#" class="vk-btn vk-btn-xl vk-btn-inverse vk-btn-buynow text-uppercase">J'en profite</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!--./vk-buynow-section-->
            <div class="container">
                <div class="vk-space x-medium"></div>
                <h2 class="vk-heading vk-heading-border vk-heading-border-right">
                <span>
                    <span class="vk-text-color-yellow-1">Les plus </span>
                    populaires
                </span>
                </h2>
                <div class="vk-shop-item vk-shop-item-light-s1 clearfix">
                    <div class="row">
                        <ul class="vk-list vk-list-inline clearfix ">
                            <li class=" col-md-6 col-sm-12 col-xs-12 img-shop">
                                <a href="http://localhost/wicon/8.2-single-product.html">
                                    <img src="images/shop/product/shop-product-1.jpg" alt="" class="vk-fullwidth"> </a>
                            </li>
                            <li class=" col-md-3 col-sm-6 col-xs-12">
                                <div class="item">
                                    <div class="vk-img-frame">
                                        <a href="/produit" class="vk-img">
                                            <img src="images/shop/product/shop-product-4.jpg" alt="Alternate Text"/></a>
                                        <div class="vk-background-overlay vk-background-overlay_50">
                                            <a href="8.2-single-product.html"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <h4 class="vk-heading vk-text-capitalize">
                                        <a href="26.shop-single-product-full.html">Nom du produit</a></h4>
                                    <div class="vk-divider"></div>
                                    <div class="vk-price-rate clearfix">
                                        <div class="price vk-cc-font-bold">100000FCFA</div>
                                    </div>
                                    <div class="vk-buttons clearfix">
                                        <button type="button" class="vk-btn  vk-btn-heart">
                                            <i class="fa fa-heart" aria-hidden="true"></i></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-share-alt" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-random" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  text-uppercase vk-btn-addtocart">J'achète</button>
                                    </div>
                                </div>
                            </li>
                             <li class=" col-md-3 col-sm-6 col-xs-12">
                                <div class="item">
                                    <div class="vk-img-frame">
                                        <a href="/produit" class="vk-img">
                                            <img src="images/shop/product/shop-product-4.jpg" alt="Alternate Text"/></a>
                                        <div class="vk-background-overlay vk-background-overlay_50">
                                            <a href="8.2-single-product.html"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <h4 class="vk-heading vk-text-capitalize">
                                        <a href="26.shop-single-product-full.html">Nom du produit</a></h4>
                                    <div class="vk-divider"></div>
                                    <div class="vk-price-rate clearfix">
                                        <div class="price vk-cc-font-bold">100000FCFA</div>
                                    </div>
                                    <div class="vk-buttons clearfix">
                                        <button type="button" class="vk-btn  vk-btn-heart">
                                            <i class="fa fa-heart" aria-hidden="true"></i></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-share-alt" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-random" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  text-uppercase vk-btn-addtocart">J'achète</button>
                                    </div>
                                </div>
                            </li>
                             <li class=" col-md-3 col-sm-6 col-xs-12">
                                <div class="item">
                                    <div class="vk-img-frame">
                                        <a href="/produit" class="vk-img">
                                            <img src="images/shop/product/shop-product-4.jpg" alt="Alternate Text"/></a>
                                        <div class="vk-background-overlay vk-background-overlay_50">
                                            <a href="8.2-single-product.html"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <h4 class="vk-heading vk-text-capitalize">
                                        <a href="26.shop-single-product-full.html">Nom du produit</a></h4>
                                    <div class="vk-divider"></div>
                                    <div class="vk-price-rate clearfix">
                                        <div class="price vk-cc-font-bold">100000FCFA</div>
                                    </div>
                                    <div class="vk-buttons clearfix">
                                        <button type="button" class="vk-btn  vk-btn-heart">
                                            <i class="fa fa-heart" aria-hidden="true"></i></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-share-alt" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-random" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  text-uppercase vk-btn-addtocart">J'achète</button>
                                    </div>
                                </div>
                            </li>
                             <li class=" col-md-3 col-sm-6 col-xs-12">
                                <div class="item">
                                    <div class="vk-img-frame">
                                        <a href="/produit" class="vk-img">
                                            <img src="images/shop/product/shop-product-4.jpg" alt="Alternate Text"/></a>
                                        <div class="vk-background-overlay vk-background-overlay_50">
                                            <a href="8.2-single-product.html"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <h4 class="vk-heading vk-text-capitalize">
                                        <a href="26.shop-single-product-full.html">Nom du produit</a></h4>
                                    <div class="vk-divider"></div>
                                    <div class="vk-price-rate clearfix">
                                        <div class="price vk-cc-font-bold">100000FCFA</div>
                                    </div>
                                    <div class="vk-buttons clearfix">
                                        <button type="button" class="vk-btn  vk-btn-heart">
                                            <i class="fa fa-heart" aria-hidden="true"></i></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-share-alt" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-random" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  text-uppercase vk-btn-addtocart">J'achète</button>
                                    </div>
                                </div>
                            </li>
                             <li class=" col-md-3 col-sm-6 col-xs-12">
                                <div class="item">
                                    <div class="vk-img-frame">
                                        <a href="/produit" class="vk-img">
                                            <img src="images/shop/product/shop-product-4.jpg" alt="Alternate Text"/></a>
                                        <div class="vk-background-overlay vk-background-overlay_50">
                                            <a href="8.2-single-product.html"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <h4 class="vk-heading vk-text-capitalize">
                                        <a href="26.shop-single-product-full.html">Nom du produit</a></h4>
                                    <div class="vk-divider"></div>
                                    <div class="vk-price-rate clearfix">
                                        <div class="price vk-cc-font-bold">100000FCFA</div>
                                    </div>
                                    <div class="vk-buttons clearfix">
                                        <button type="button" class="vk-btn  vk-btn-heart">
                                            <i class="fa fa-heart" aria-hidden="true"></i></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-share-alt" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-random" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  text-uppercase vk-btn-addtocart">J'achète</button>
                                    </div>
                                </div>
                            </li>
                             <li class=" col-md-3 col-sm-6 col-xs-12">
                                <div class="item">
                                    <div class="vk-img-frame">
                                        <a href="/produit" class="vk-img">
                                            <img src="images/shop/product/shop-product-4.jpg" alt="Alternate Text"/></a>
                                        <div class="vk-background-overlay vk-background-overlay_50">
                                            <a href="8.2-single-product.html"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <h4 class="vk-heading vk-text-capitalize">
                                        <a href="26.shop-single-product-full.html">Nom du produit</a></h4>
                                    <div class="vk-divider"></div>
                                    <div class="vk-price-rate clearfix">
                                        <div class="price vk-cc-font-bold">100000FCFA</div>
                                    </div>
                                    <div class="vk-buttons clearfix">
                                        <button type="button" class="vk-btn  vk-btn-heart">
                                            <i class="fa fa-heart" aria-hidden="true"></i></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-share-alt" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  vk-btn-share">
                                            <span><i class="fa fa-random" aria-hidden="true"></i></span></button>
                                        <button type="button" class="vk-btn  text-uppercase vk-btn-addtocart">J'achète</button>
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="vk-space small"></div>
            </div>
            <div class="vk-buynow-section vk-background-image-17 vk-section-style-8 vk-section-style-9">
                <div class="vk-background-overlay vk-background-black-1 _50"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-7 col-md-5">
                            <div class="box-content">
                                <div class="content">
                                    <h1 class="vk-heading-main text-uppercase">Promotion</h1>
                                    <p class="vk-title-main text-capitalize">Livraison gratuite à partir de</p>
                                    <p class="vk-price-main vk-text-color-yellow-1">150000FCFA</p>
                                </div>
                                <div class="vk-buttons">
                                    <a href="#" class="vk-btn vk-btn-xl vk-btn-inverse vk-btn-buynow text-uppercase">J'en profite</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!--./vk-buynow-section-->
            <div class="vk-section vk-recent-blog-section">
                <div class="container">
                    <h2 class="vk-heading vk-heading-border vk-heading-border-left">
                     <span>
                        <span class="vk-text-color-yellow-1">derniers</span>
                        articles
                    </span>
                    </h2>
                    <div class="row">
                        <div class="vk-recent-blog-list vk-slider-arrow-top  vk-slider-arrow-dot-top recent-blog-slider">
                            <div class="col-md-6">
                                <div class="vk-recent-blog">
                                    <div class="vk-img-frame">
                                        <a href="#" class="vk-img">
                                            <img src="/images/blog_1.jpg" alt="" style="width: 570px; height: 320px;">
                                        </a>
                                    </div>
                                    <!--./vk-recent-blog-->

                                    <div class="brief-content">
                                        <h4 class="vk-title"><a href="#">Titre de l'article</a></h4>
                                        <p class="vk-text brief">Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started...</p>
                                        <div class="vk-buttons">
                                            <a href="#" class="vk-btn vk-btn-transparent text-uppercase vk-btn-readmore">lire l'article
                                                <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                    <!--./brief-content-->
                                </div>
                                <!-- /.vk-recent-blog -->
                            </div>
                            <!-- /.col-md-6 -->
                            <div class="col-md-6">
                                <div class="vk-recent-blog">
                                    <div class="vk-img-frame">
                                        <a href="#" class="vk-img">
                                            <img src="/images/blog_2.jpg" alt="" style="width: 570px; height: 320px;">
                                        </a>
                                    </div>
                                    <!--./vk-recent-blog-->

                                    <div class="brief-content">
                                        <h4 class="vk-title"><a href="#">Titre de l'article</a></h4>
                                        <p class="vk-text brief">Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started...</p>
                                        <div class="vk-buttons">
                                            <a href="#" class="vk-btn vk-btn-transparent text-uppercase vk-btn-readmore">lire l'article
                                                <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                    <!--./brief-content-->
                                </div>
                                <!-- /.vk-recent-blog -->
                            </div>
                            <!-- /.col-md-6 -->
                            <div class="col-md-6">
                                <div class="vk-recent-blog">
                                    <div class="vk-img-frame">
                                        <a href="#" class="vk-img">
                                            <img src="/images/blog_3.jpg" alt="" style="width: 570px; height: 320px;">
                                        </a>
                                    </div>
                                    <!--./vk-recent-blog-->

                                    <div class="brief-content">
                                        <h4 class="vk-title"><a href="#">Titre de l'article</a></h4>
                                        <p class="vk-text brief">Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started...</p>
                                        <div class="vk-buttons">
                                            <a href="#" class="vk-btn vk-btn-transparent text-uppercase vk-btn-readmore">lire l'article
                                                <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                    <!--./brief-content-->
                                </div>
                                <!-- /.vk-recent-blog -->
                            </div>
                            <!-- /.col-md-6 -->
                        </div>
                    </div>
                    <!--.row-->
                </div>
                <!-- /.container -->
            </div>
            
        </div>
        <!--./home-->
    </section>
    <!--./content-->

    {% include footer.html %}
</body>
</html>